@use "../utils/mixins" as *;
.articles {
      &__cards {
            @include grid(3, 34px);

            @include media(xl) {
                  @include grid(2, 34px);
            }
            @include media(md) {
                  @include grid(1, 24px);
            }
      }
      &__card {
            .card__info {
                  @include media(md) {
                        max-width: 100%;
                  }
            }
            .card__bottom {
                  margin-top: 34px;
                  @include media(md) {
                        margin-top: 24px;
                  }
                  &-price {
                        color: white;
                  }
                  &-btn {
                        max-width: max-content !important;

                        @include media(md) {
                              max-width: 100% !important;
                        }
                  }
                  &-btn:hover {
                        background-color: var(--background-red);
                        color: white;
                  }
            }
      }
      &__btn {
            margin-top: 54px;
            @include media(md) {
                  margin-top: 44px;
            }
      }
}

.article {
      &__top {
            &-title {
                  margin-bottom: 64px;
            }
      }
      &__content {
            display: grid;
            grid-template-columns: auto 304px;
            gap: 84px;

            @include media(lg) {
                  gap: 30px;
            }
            @include media(md) {
                  grid-template-columns: auto;
                  gap: 64px;
            }
            &-left {
                  color: var(--text-darkblue);
                  h2 {
                        max-width: 540px;
                        text-transform: uppercase;
                        margin-bottom: 24px;
                  }
                  p {
                        margin-bottom: 64px;
                        span {
                              display: block;
                              position: relative;
                              padding-left: 15px;
                              @include media(sm) {
                                    padding-left: unset;
                              }
                              &::before {
                                    content: "•";
                                    position: absolute;
                                    left: 0;
                                    color: var(--text-darkblue);

                                    @include media(sm) {
                                          content: unset;
                                    }
                              }
                        }
                  }
                  p:last-child {
                        margin-bottom: 0;
                        a {
                              color: #0180bd;
                        }
                  }
            }
      }
}
