@use "../utils/mixins" as *;
.articles {
      &__cards {
            @include grid(3, 34px);
      }
      &__card {
            .card__bottom {
                  margin-top: 34px;
                  &-price {
                        color: white;
                  }
                  &-btn {
                        max-width: max-content !important;
                  }
            }
      }
      &__btn {
            margin-top: 54px;
      }
}

.article {
      &__content {
            display: grid;
            grid-template-columns: auto 304px;
            gap: 84px;
            &-left {
                  display: grid;
                  gap: 24px;
            }
      }
}
