@use "../utils/mixins" as *;

.banner {
      padding: 44px;
      padding-bottom: 50px;
      border-radius: 8px;
      background: url("/src/assets/images/bannerFirst.webp") no-repeat;
      background-size: cover;
      border-radius: 8px;
      overflow: hidden;
      position: relative;

      @include media(sm) {
            padding: 24px;
            padding-bottom: 28px;
            background: url("/src/assets/images/bannerFirstMedia.webp") no-repeat;
            background-position-x: right;
      }

      &__wrapper {
            position: relative;
            z-index: 2;
      }
      //  banner texts
      &__title {
            color: white;
            line-height: 32px;

            @include media(sm) {
                  max-width: 206px;
                  line-height: 26px;
            }
      }
      &__btn {
            margin-top: 24px;

            @include media(sm) {
                  width: 100%;
            }
      }
      &__btn:hover {
            color: var(--text-darkblue) !important;
      }
}
.banner::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(90deg, #1d4279 44%, rgba(29, 66, 121, 0) 100%);
}

// second banner

.banner-second {
      padding: 44px;
      padding-top: 35px;
      padding-bottom: 44px;
      border-radius: 8px;
      background: url("/src/assets/images/bannerSecond.webp") no-repeat;
      background-size: cover;
      background-position-x: right;
      border-radius: 8px;
      overflow: hidden;
      position: relative;

      @include media(sm) {
            padding: 24px;
            padding-bottom: 28px;
            background: url("/src/assets/images/bannerSecondMedia.webp") no-repeat;
            background-position-x: right;
      }

      &__wrapper {
            position: relative;
            z-index: 2;
      }
      //  banner texts
      &__title {
            max-width: 500px;
            color: white;
            line-height: 32px;
            font-weight: 700;

            @include media(sm) {
                  max-width: 300px;
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 26px;
            }
      }
      &__btn {
            margin-top: 24px;
            @include media(sm) {
                  width: 100%;
            }
      }
      &__btn:hover {
            color: #007fbc !important;
            font-weight: 700;
            svg {
                  path {
                        fill: #007fbc;
                  }
            }
      }
}

.banner-second::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(90deg, #007fbc 40.82%, rgba(0, 127, 188, 0) 100%);
}
