@use "../utils/mixins" as *;

.banner {
      padding: 44px;
      padding-bottom: 50px;
      border-radius: 8px;
      background: url("/src/assets/images/bannerFirst.jpg") no-repeat;
      background-size: cover;
      border-radius: 8px;
      overflow: hidden;

      position: relative;

      &__wrapper {
            position: relative;
            z-index: 2;
      }
      //  banner texts
      &__title {
            color: white;
            line-height: 32px;
      }
      &__btn {
            margin-top: 24px;
      }
}
.banner::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(90deg, #1d4279 44%, rgba(29, 66, 121, 0) 100%);
}

// second banner

.banner-second {
      padding: 44px;
      padding-top: 35px;
      padding-bottom: 44px;
      border-radius: 8px;
      background: url("/src/assets/images/bannerSecond.jpg") no-repeat;
      background-size: contain;
      border-radius: 8px;
      overflow: hidden;

      position: relative;

      &__wrapper {
            position: relative;
            z-index: 2;
      }
      //  banner texts
      &__title {
            max-width: 500px;
            color: white;
            line-height: 32px;
      }
      &__btn {
            margin-top: 24px;
      }
}

.banner-second::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(90deg, #007fbc 40.82%, rgba(0, 127, 188, 0) 100%);
}
