@use "../utils/mixins" as *;
.benefits {
      padding-top: 0;
      @include media(md) {
            padding-top: 32px;
      }
      .container {
            @include grid(4, 34px);
            @include media(xl) {
                  @include grid(3, 34px);
            }
            @include media(lg) {
                  @include grid(2, 34px);
            }
            @include media(md) {
                  @include grid(1, 24px);
            }
      }

      &__card {
            background-color: var(--background-darkblue);
            .card__body {
                  @include media(md) {
                        display: grid;
                        grid-template-columns: max-content auto;
                        gap: 17px;
                  }
            }
            .card__icon {
                  @include media(sm) {
                        transform: translateY(7px);
                  }
            }
            .card__info {
                  &-icon {
                        filter: brightness(0) invert(1);
                  }

                  &-title {
                        color: white;
                  }
                  &-desc {
                        color: #ffffff99;
                  }
            }
      }
}
