@use "../utils/mixins" as *;

.faq {
      &__title {
            margin-bottom: 40px;
      }

      &__list {
            display: flex;
            flex-direction: column;
            gap: 34px;

            @include media(md) {
                  gap: 24px;
            }
      }

      &__item {
            padding: 0 24px;
            padding-right: 31px;

            background: #ffffff;
            border-radius: 8px;
            overflow: hidden;
            transition: box-shadow 0.3s ease;

            &.active {
                  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
            }

            @include media(sm) {
                  padding-right: 25px;
            }
      }

      &__question {
            width: 100%;
            @include flex-between;
            gap: 15px;
            padding: 20px 0;
            background: white;
            color: #1d4279;
            font-weight: 600;
            font-size: 18px;
            text-align: left;
            cursor: pointer;

            @include media(sm) {
                  padding: 14px 0;
                  align-items: flex-start;
            }
      }

      .faq__icon {
            transition: transform 0.3s ease;
            transform: rotate(0deg);

            @include media(sm) {
                  width: 34px;
                  transform: translateY(-3px);
            }
      }

      .faq__item.active .faq__icon {
            transform: rotate(45deg);
            opacity: 0.5;
            @include media(sm) {
                  transform: rotate(45deg) translateY(-3px);
            }
      }

      &__answer {
            padding: 24px 0;
            background: #ffffff;
            border-top: 1px solid #1d427933;

            @include media(sm) {
                  padding: 14px 0;
            }
      }
}
