@use "../utils/mixins" as *;

.modal {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 30;
      background: #1d42794d;
      overflow-y: scroll;
      padding: 27px;
      padding-top: 92px;

      display: flex;
      justify-content: center;
      align-items: center;
      &__wrapper {
            width: 472px;
            max-width: 472px;
            height: max-content;
            padding: 44px;
            padding-bottom: 48px;
            margin: auto;
            background: white;
            border-radius: 8px;
            position: relative;

            @include media(sm) {
                  width: 300px;
                  padding: 24px;
                  padding-bottom: 28px;
            }
      }
      &__header {
            h2 {
                  color: var(--text-red);
            }
            p {
                  margin-top: 14px;
                  line-height: 25px;
                  color: var(--text-darkblue);
            }
      }
      &__body {
            margin-top: 34px;
            display: grid;
            gap: 24px;
            @include media(sm) {
                  margin-top: 24px;
            }
            input {
                  width: 100%;
                  height: 55px;
                  padding: 0 24px;

                  border-radius: 8px;

                  font-family: "Montserrat";
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 100%;
                  color: var(--text-red);

                  border: 2px solid #1d427933;
                  border-radius: 8px;
                  @include media(sm) {
                        height: 50px;
                        font-size: 14px;
                        line-height: 100%;
                  }
            }
            textarea {
                  width: 100%;
                  height: 124px;
                  padding: 24px;

                  border-radius: 8px;

                  font-family: "Montserrat";
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 100%;
                  color: var(--text-red);

                  border: 2px solid #1d427933;
                  border-radius: 8px;
                  outline: none;

                  @include media(sm) {
                        padding: 16px 24px;
                        height: 100px;
                        font-size: 14px;
                        line-height: 100%;
                  }
            }
            textarea:focus,
            input:focus {
                  border-color: var(--text-red);
            }
            textarea,
            input:focus::placeholder {
                  color: var(--text-red);
            }
            textarea::placeholder,
            input::placeholder {
                  font-family: "Montserrat";
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 100%;
                  color: #1d427980;

                  @include media(sm) {
                        font-size: 14px;
                        line-height: 100%;
                  }
            }
      }
      &__buttons {
            margin-top: 44px;
            button {
                  @include media(sm) {
                        width: 100%;
                  }
            }
      }
      &__xmark {
            position: absolute;
            right: -64px;
            top: -64px;
            img {
                  cursor: pointer;
            }
            @include media(md) {
                  right: 0;
                  top: -64px;
            }
      }
}
