@use "../utils/mixins" as *;
.hero {
      .container {
            @include grid(2, 42px);
            align-items: center;
      }

      //  hero info
      &__info {
            &-title {
                  color: #1d4279;
                  margin-bottom: 24px;
            }
            &-list {
                  margin-left: 24px;
                  &--item {
                        list-style: disc;
                        font-family: "Montserrat";
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 27px;
                        color: var(--text-darkblue);
                  }
            }
            &-btn {
                  margin-top: 44px;
            }
      }
      // hero image

      &__image {
            width: 100%;
      }
}
