@use "../utils/mixins" as *;
.location {
      &__map {
            position: relative;

            &-map {
                  width: 100%;
                  height: 524px;
                  border-radius: 8px;
                  overflow: hidden;

                  @include media(md) {
                        height: 380px;
                  }
                  @include media(sm) {
                        height: 292px;
                  }
            }
      }
}

.contact {
      width: 581px;
      padding: 24px;
      padding-bottom: 28px;

      background: white;
      border-radius: 8px;

      position: absolute;
      bottom: 24px;
      left: 24px;

      @include media(lg) {
            width: 350px;
      }
      @include media(md) {
            margin-top: 24px;
            width: 100%;
            position: unset;
      }

      &__title {
            color: var(--text-darkblue);
            line-height: 32px;
            @include media(sm) {
                  font-size: 22px;
                  font-weight: 700;
                  line-height: 32px;
            }
      }
      &__list {
            margin-top: 24px;
            display: grid;
            gap: 19px;

            @include media(sm) {
                  gap: 14px;
            }

            &-item a {
                  text-decoration: underline;
            }

            &-item a,
            &-item {
                  display: flex;
                  align-items: center;
                  gap: 19px;

                  font-family: "Montserrat";
                  font-weight: 600;
                  font-style: Bold;
                  font-size: 16px;
                  line-height: 100%;
                  color: var(--text-darkblue);

                  @include media(sm) {
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 100%;
                  }

                  img {
                        @include media(sm) {
                              width: 24px;
                              height: 24px;
                        }
                  }
            }
            &-item:first-child {
                  font-weight: 700;
            }
      }

      &__btns {
            margin-top: 40px;
            display: flex;
            align-items: center;
            gap: 14px;

            @include media(lg) {
                  flex-direction: column;
                  gap: 14px;
            }
            @include media(md) {
                  margin-top: 34px;
            }

            &-btn {
                  @include media(lg) {
                        width: 100%;
                  }
            }
            &-btn:hover:first-child {
                  svg {
                        path {
                              fill: var(--btn-blue) !important;
                        }
                  }
            }
            &-btn:hover:last-child {
                  svg {
                        path {
                              fill: var(--btn-green) !important;
                        }
                  }
            }
      }
}
