@use "../utils/mixins" as *;
.products {
      &__cards {
            @include grid(4, 34px);
            @include media(xl) {
                  @include grid(3, 34px);
            }
            @include media(lg) {
                  @include grid(2, 34px);
            }
            @include media(md) {
                  @include grid(1, 24px);
            }
      }
      &__card {
            .card__bottom {
                  &-btn:hover {
                        background-color: var(--background-red);
                        color: white;
                  }
            }
      }
      &__card:first-child {
            position: relative;
            grid-column: span 2;
            background-color: white;

            @include media(lg) {
                  grid-column: unset;
            }

            .card__info {
                  &-title {
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 24px;
                        line-height: 24px;
                        color: #1d4279;

                        @include media(lg) {
                              font-size: 18px;
                              font-weight: 700;
                              line-height: 24px;
                        }
                  }
                  &-desc {
                        color: #1d4279;
                        @include media(lg) {
                              color: #1d427999;
                        }
                  }
            }
            .card__bottom {
                  &-price {
                        color: #1d4279;
                  }
                  &-btn {
                        max-width: max-content !important;
                        @include media(lg) {
                              max-width: 100% !important;
                        }
                  }
            }
      }
      &__card:first-child::after {
            content: url("/src/assets/images/symbol2.webp");
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            @include media(lg) {
                  content: unset;
            }
      }
}

.products-second {
      .products__card {
            background-color: var(--background-darkblue) !important;
            .card__info {
                  &-title {
                        max-width: 300px;
                        color: white;
                  }
                  &-desc {
                        color: #ffffff80;
                  }
            }
            .card__bottom {
                  &-price {
                        color: white;
                  }
                  &-btn:hover {
                        color: var(--text-darkblue);
                  }
            }
      }
      .products__card:first-child::after {
            content: url("/src/assets/images/symbol.webp");
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;
            @include media(lg) {
                  content: unset;
            }
      }
}

.products-third {
      .products__card {
            background-color: var(--background-red) !important;
            .card__info {
                  &-title {
                        max-width: 300px;
                        color: white;
                  }
                  &-desc {
                        color: #ffffff80;
                  }
            }
            .card__bottom {
                  &-price {
                        color: white;
                  }
                  &-btn:hover {
                        color: var(--text-red);
                        border-color: white;
                  }
            }
      }
      .products__card:first-child::after {
            content: url("/src/assets/images/symbol.webp");
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            @include media(lg) {
                  content: unset;
            }
      }
}
