@use "../utils/mixins" as *;
.products {
      &__cards {
            @include grid(4, 34px);
      }
      &__card {
            .card__bottom {
                  &-btn:hover {
                        background-color: var(--background-red);
                        color: white;
                  }
            }
      }
      &__card:first-child {
            position: relative;
            grid-column: span 2;
            background-color: white;
            .card__info {
                  &-title {
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 24px;
                        line-height: 24px;
                        color: #1d4279;
                  }
                  &-desc {
                        color: #1d4279;
                  }
            }
            .card__bottom {
                  &-price {
                        color: #1d4279;
                  }
                  &-btn {
                        max-width: max-content !important;
                  }
            }
      }
      &__card:first-child::after {
            content: url("/src/assets/images/symbol2.svg");
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;
      }
}

.products-second {
      .products__card {
            background-color: var(--background-darkblue) !important;
            .card__info {
                  &-title {
                        max-width: 300px;
                        color: white;
                  }
                  &-desc {
                        color: #ffffff80;
                  }
            }
            .card__bottom {
                  &-btn:hover {
                        color: var(--text-darkblue);
                  }
            }
      }
      .products__card:first-child::after {
            content: url("/src/assets/images/symbol.svg");
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;
      }
}

.products-third {
      .products__card {
            background-color: var(--background-red) !important;
            .card__info {
                  &-title {
                        max-width: 300px;
                        color: white;
                  }
                  &-desc {
                        color: #ffffff80;
                  }
            }
            .card__bottom {
                  &-price {
                        color: white;
                  }
                  &-btn:hover {
                        color: var(--text-red);
                        border-color: white;
                  }
            }
      }
      .products__card:first-child::after {
            content: url("/src/assets/images/symbol.svg");
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;
      }
}
