@use "../utils/mixins" as *;
.service {
      &__cards {
            @include grid(3, 34px);
      }
      &__card:last-child {
            background-color: var(--background-darkblue);
            .card__info {
                  &-icon {
                        filter: brightness(0) invert(1);
                  }
                  &-desc,
                  &-title {
                        color: white;
                  }
            }
      }
      &__footer {
            margin-top: 44px;
            padding: 15px;
            @include flex-center;
            gap: 64px;

            background-color: white;
            border-radius: 8px;
            &-title {
                  color: var(--text-darkblue);
            }
            &-btn {
                  padding: 0 44px !important;
            }
      }
}
