// flex
@mixin flex-center {
      display: flex;
      align-items: center;
      justify-content: center;
}

@mixin flex-between {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

// line clamp

@mixin truncate($lines) {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: $lines;
      -webkit-box-orient: vertical;
}

// grid

@mixin grid($count, $gap) {
      display: grid;
      grid-template-columns: repeat($count, 1fr);
      gap: $gap;
}

// media

@mixin media($breakpoint) {
      @if $breakpoint == sm {
            @media (max-width: 576px) {
                  @content;
            }
      } @else if $breakpoint == md {
            @media (max-width: 768px) {
                  @content;
            }
      } @else if $breakpoint == lg {
            @media (max-width: 1024px) {
                  @content;
            }
      }
}
