:root {
      // button colors
      --btn-green: #136d00;
      --btn-red: #9b2d30;
      --btn-blue: #0077ff;
      // text colors
      --text-darkblue: #1d4279;
      --text-red: #9b2d30;
      // background colors
      --background-darkblue: #1d4279;
      --background-red: #9b2d30;
      --gradient-red: linear-gradient(90deg, #d31027 0%, #ea384d 100%);
}
